.delete-icon{
    color: rgba(235, 87, 87, 1);
    font-size: 27px;
}
.item .delete-button{
    background: rgba(235, 87, 87, 0.3);
    border: 0;
    height: 55px;
    width: 55px;
   margin-left: -220px;
    cursor: pointer;
}